.blue_line{
    background-color: $bg_color1;
    width: 100%;
    div{
        display: flex;
        justify-content: flex-end;
    }
    p{
        color: white;
        padding: $spacing / 3;
    }
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    img{
        max-width: 80px;
        max-height: 80px;
        margin: $spacing 0;
    }
    ul{
        display: flex;
        align-items: center;
        list-style: none;
        a{
            text-decoration: none;
            padding: 0 ($spacing / 2);
        }
    }
}
.jumbotron{
    height: 300px;
    background-image: url('/images/jumbotron.jpg');
    // background-color: yellow;
    background-size: cover;
}