$primary_font: 'Nunito Sans', sans-serif;

$primary_color: #ffffff;
$bg_color1: #0282f9;
$bg_color2: #1c1c1c;

$text_color: #464646;
$text_color2: #ffffff;
$text_color3: #0282f9;
$hoover_color:  #0282f9;

$spacing: 15px;